.contact .list-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: 0;
  height: auto; }

.canvasBgWrapper.contact {
  background: #332d58;
  overflow: hidden;
  height: 100vh; }
  @media screen and (max-width: 1040px) and (min-width: 1020px) and (max-height: 1370px) and (min-height: 1360px) {
    .canvasBgWrapper.contact {
      height: 140vw; } }

.contact .txt-block-wrapper .block-border-0-right {
  grid-column: 4/11; }
  @media screen and (max-width: 1500px) {
    .contact .txt-block-wrapper .block-border-0-right {
      grid-column: 3/12; } }

.contact-wrapper-0 a,
.contact-wrapper-1 a,
.contact-wrapper-2 a,
.contact-wrapper-3 a,
.contact-wrapper-4 a {
  color: #fff;
  text-decoration: none; }

.contact-wrapper-0:hover a,
.contact-wrapper-1:hover a,
.contact-wrapper-2:hover a,
.contact-wrapper-3:hover a {
  background: -webkit-linear-gradient(245deg, #e8fff5 40%, #6cf593 61%);
  background: linear-gradient(205deg, #e8fff5 40%, #6cf593 61%);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  -webkit-border-image: -webkit-linear-gradient(245deg, #e8fff5 40%, #6cf593 61%);
  border-image: linear-gradient(205deg, #e8fff5 40%, #6cf593 61%);
  border-image-slice: 100%;
  border-image-slice: 1; }

.contact-wrapper-0 {
  margin: 30px 10%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact-wrapper-0 span {
    width: 32px;
    height: 32px;
    display: block;
    background: url("./img/linkedin.png"); }

.contact-wrapper-1 {
  margin: 30px 10%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact-wrapper-1 span {
    width: 32px;
    height: 32px;
    display: block;
    background: url("./img/email.png"); }

.contact-wrapper-2 {
  margin: 30px 10%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact-wrapper-2 span {
    width: 32px;
    height: 32px;
    display: block;
    background: url("./img/telegram.png"); }

.contact-wrapper-3 {
  margin: 30px 10%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact-wrapper-3 span {
    width: 32px;
    height: 32px;
    display: block;
    background: url("./img/whatsapp.png"); }

.cv-header {
  padding-top: 30px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Rubik', 'Lato', sans-serif !important;
  font-weight: 700; }

.contact-wrapper-4:hover {
  background: #f4806a !important; }

.contact-wrapper-4 {
  /*btn*/
  border-radius: 2px;
  background: #f45f43;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -ms-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
  height: 0;
  /*****/
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 30px 0 15px; }
  .contact-wrapper-4 span {
    width: 32px;
    height: 32px;
    display: block;
    background: url("./img/cv.png"); }

.txtBlockAnimation-right-appear.txtBlockAnimation-right-appear-active {
  opacity: 1;
  transition: all .5s ease-out;
  transform: translateY(0px); }

.txtBlockAnimation-right-appear {
  opacity: 1;
  transition: all .5s ease-out;
  transform: translateY(1000px); }

.txtBlockAnimation-right-leave {
  transition: all .5s ease-out;
  transform: translateX(-3000px); }

.contact-0-icon {
  width: 32px;
  padding: 0 7px 0 0; }

.contact-wrapper-0:hover .contact-0-icon span {
  background: url("./img/linkedin-gr.png");
  transition: opacity .5s; }

.contact-wrapper-1:hover .contact-1-icon span {
  background: url("./img/email-gr.png"); }

.contact-wrapper-2:hover .contact-2-icon span {
  background: url("./img/telegram-gr.png"); }

.contact-wrapper-3:hover .contact-3-icon span {
  background: url("./img/whatsapp-gr.png"); }

.contact-wrapper-4 {
  text-decoration: none !important; }

.logo-wrapper {
  position: absolute;
  top: 34px;
  left: 60px;
  width: 66px; }

.contact-1-icon {
  width: 32px;
  padding: 0 7px 0 0; }

.contact-2-icon {
  width: 32px;
  padding: 0 7px 0 0; }

.contact-3-icon {
  width: 32px;
  padding: 0 7px 0 0; }

.contact-4-icon {
  width: 32px;
  padding: 0 7px 0 0; }

/*# sourceMappingURL=contact.css.map */
