#activeNavElem{
  display: block;
  padding-bottom: 3px;
  font-style: italic;
  border-bottom: solid 2px #fff;
  font-weight: 500;
}

.top-navigation-wrapper{
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  ul.navigation{
    width: 33%;
    display: flex;
    justify-content: space-around;
    height: 40px;
  }
  .top-nav__items.top-nav__item-.home-nav,
  .top-nav__items.top-nav__item-0,
  .top-nav__items.top-nav__item-1,
  .top-nav__items.top-nav__item-2{
    color: #fff;
    font-family: 'Rubik', 'Lato', sans-serif;
    font-weight: 700;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  a{
    cursor: pointer;
  }
  @media screen and (max-width: 490px){
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav__items {
  list-style: none;
  cursor: pointer;
  margin: 15px 60px;
  width: 170px;
  height: 170px;
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Rubik', 'Lato', sans-serif;
  white-space: nowrap;
  font-weight: 900;

  @media screen and (max-width: 1700px) {
    width: 140px;
    height: 140px;
    font-size: 24px;
  }
  @media screen and (max-width: 1500px) {
    width: 120px;
    height: 120px;
    font-size: 20px;
  }
  @media screen and (max-width: 1000px){
    width: 120px;
    height: 120px;
    margin: 15px 30px;
  }
}

/**fixed-menu**/
.fixed-menu-logo{
  display: none;}
#fixed-menu{
  transition: background 500ms ease-in;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  background: rgba(47, 34, 74, 0.67);
  z-index: 10;
  padding: 15px 15px;
  .fixed-menu-logo{
    display: block;
    position: absolute;
    top: 15px;
    left: 66px;
    width: 45px;
  }
  img{
    position: absolute;
    width: 66px;
  }
  li{
    display: inline-block;
    padding: 0 45px;
  }
}
.navigation.about,
.navigation.works,
.navigation.contact{
  padding: 45px 0 0;
  li{
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.navigation.about li a,
.navigation.works li a,
.navigation.contact li a{
  color: #ffffff!important;
  //-webkit-background-clip: border-box;
  -webkit-text-fill-color: #ffffff;

}